model_conv_weights.pth
model_conv.pth
model_ft_weights.pth
model_ft.pth
model.bin
model.onnx
wuSNet.bin
wuSNet.param
test_pyimagesearch/classify_pretrained/pyimagesearch/__pycache__/config.cpython-38.pyc
test_pyimagesearch/training_predict/data/KMNIST/processed/test.pt
test_pyimagesearch/training_predict/data/KMNIST/processed/training.pt
test_pyimagesearch/training_predict/data/KMNIST/raw/t10k-images-idx3-ubyte
test_pyimagesearch/training_predict/data/KMNIST/raw/t10k-images-idx3-ubyte.gz
test_pyimagesearch/training_predict/data/KMNIST/raw/t10k-labels-idx1-ubyte
test_pyimagesearch/training_predict/data/KMNIST/raw/t10k-labels-idx1-ubyte.gz
test_pyimagesearch/training_predict/data/KMNIST/raw/train-images-idx3-ubyte
test_pyimagesearch/training_predict/data/KMNIST/raw/train-images-idx3-ubyte.gz
test_pyimagesearch/training_predict/data/KMNIST/raw/train-labels-idx1-ubyte
test_pyimagesearch/training_predict/data/KMNIST/raw/train-labels-idx1-ubyte.gz
test_pyimagesearch/training_predict/output/model.pth
test_pyimagesearch/training_predict/output/plot.png
test_pyimagesearch/training_predict/pyimagesearch/__pycache__/__init__.cpython-38.pyc
test_pyimagesearch/training_predict/pyimagesearch/__pycache__/lenet.cpython-38.pyc
test_pyimagesearch/training_predict_holy/data/KMNIST/processed/test.pt
test_pyimagesearch/training_predict_holy/data/KMNIST/processed/training.pt
test_pyimagesearch/training_predict_holy/data/KMNIST/raw/t10k-images-idx3-ubyte
test_pyimagesearch/training_predict_holy/data/KMNIST/raw/t10k-images-idx3-ubyte.gz
test_pyimagesearch/training_predict_holy/data/KMNIST/raw/t10k-labels-idx1-ubyte
test_pyimagesearch/training_predict_holy/data/KMNIST/raw/t10k-labels-idx1-ubyte.gz
test_pyimagesearch/training_predict_holy/data/KMNIST/raw/train-images-idx3-ubyte
test_pyimagesearch/training_predict_holy/data/KMNIST/raw/train-images-idx3-ubyte.gz
test_pyimagesearch/training_predict_holy/data/KMNIST/raw/train-labels-idx1-ubyte
test_pyimagesearch/training_predict_holy/data/KMNIST/raw/train-labels-idx1-ubyte.gz
test_pyimagesearch/training_predict_holy/output/model.pth
test_pyimagesearch/training_predict_holy/output/plot.png
test_pyimagesearch/training_predict_holy/pyimagesearch/__pycache__/__init__.cpython-38.pyc
test_pyimagesearch/training_predict_holy/pyimagesearch/__pycache__/_internally_replaced_utils.cpython-38.pyc
test_pyimagesearch/training_predict_holy/pyimagesearch/__pycache__/lenet.cpython-38.pyc
test_pyimagesearch/training_predict_holy/pyimagesearch/__pycache__/shufflenetv2_pytorch.cpython-38.pyc
test_pytorch_to_ncnn/resnet18.bin
test_pytorch_to_ncnn/resnet18.onnx
test_pytorch_to_ncnn/resnet18.param
test_shufflenet_v2/model_ft_shufflenet_v2_x0_5.pth
test_shufflenet_v2/model_ft_shufflenet_v2.pth
test_shufflenet_v2/model_ft_weights_shufflenet_v2_x0_5.pth
test_shufflenet_v2/model_ft_weights_shufflenet_v2.pth
test_shufflenet_v2/model_shufflenet_v2_simplified.onnx
test_shufflenet_v2/model_shufflenet_v2.onnx
test_shufflenet_v2/shufflenet_v2_x0.5.pth
test_shufflenet_v2/shufflenet_v2_x1_0.bin
test_shufflenet_v2/shufflenet_v2_x1_0.param
test_shufflenet_v2/__pycache__/shufflenet_v2.cpython-38.pyc
test_shufflenet_v2/__pycache__/slim.cpython-38.pyc
test_shufflenet_v2/best_model/best_model.pt
test_shufflenet_v2/checkpoint/current_checkpoint.pt
build/
test_pyimagesearch/training_predict_holy/model_ft_shufflenet_v2.pth
test_pyimagesearch/training_predict_holy/model_shufflenet_v2_simplified.onnx
test_pyimagesearch/training_predict_holy/model_shufflenet_v2.onnx
test_shufflenet_v2/model_ft_shufflenet_v2_0.914913.pth
test_shufflenet_v2/model_ft_shufflenet_v2_0.928972.pth
test_shufflenet_v2/model_ft_weights_shufflenet_v2_0.914913.pth
test_shufflenet_v2/model_ft_weights_shufflenet_v2_0.928972.pth
test_shufflenet_v2/best_model/best_model.pth
test_shufflenet_v2/model_ft_shufflenet_v2_0.819899.pth
test_shufflenet_v2/model_ft_shufflenet_v2_0.967259.pth
test_shufflenet_v2/model_ft_shufflenet_v2_0.967892.pth
test_shufflenet_v2/model_ft_weights_shufflenet_v2_0.819899.pth
test_shufflenet_v2/model_ft_weights_shufflenet_v2_0.967259.pth
test_shufflenet_v2/model_ft_shufflenet_v2_0.948184.pth
test_shufflenet_v2/model_ft_shufflenet_v2_0.954261.pth
test_shufflenet_v2/model_ft_weights_shufflenet_v2_0.954261.pth
test_shufflenet_v2/plot.png
test_shufflenet_v2/model_ft_shufflenet_v2_0.993530.pth
test_shufflenet_v2/model_ft_weights_shufflenet_v2_0.993530.pth
