# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# pytorch model extensions
*.pt
*.pth

# ncnn model extensions
*.param
*.bin

# onnx model extensions
*.onnx

# image extensions
*.png

# dataset extensions
*ubyte
*.gz

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
model_ft_shufflenet_v2.pth
best_model/best_model.pt
checkpoint/current_checkpoint.pt
model_ft_shufflenet_v2_2109221751_0.99.pth
model_ft_shufflenet_v2_2109221751_1.00.pth
model_ft_shufflenet_v2_2109221751_ckp_0.99_simplified.onnx
model_ft_shufflenet_v2_2109221751_ckp_0.99.onnx
model_ft_shufflenet_v2_2109221751_ckp_0.99.pth
model_ft_shufflenet_v2_2109221751_ckp_1.00_simplified.onnx
model_ft_shufflenet_v2_2109221751_ckp_1.00.bin
model_ft_shufflenet_v2_2109221751_ckp_1.00.onnx
model_ft_shufflenet_v2_2109221751_ckp_1.00.param
model_ft_shufflenet_v2_2109221751_ckp_1.00.pth
model_ft_shufflenet_v2_2109221751.pth
model_ft_weights_shufflenet_v2_2109221751.pth
plot_2109221751.png
best_model/best_model_2109221751.pt
checkpoint/current_checkpoint_2109221751.pt
